In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("data.csv", on_bad_lines='skip')

In [3]:
df

            password  strength
0           kzde5577         1
1           kino3434         1
2          visi7k1yr         1
3           megzy123         1
4        lamborghin1         1
...              ...       ...
669635    10redtux10         1
669636     infrared1         1
669637  184520socram         1
669638     marken22a         1
669639      fxx4pw4g         1

[669640 rows x 2 columns]

In [4]:
df.describe()

            strength
count  669640.000000
mean        0.990196
std         0.507948
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000

In [5]:
df.isnull().sum()

password    1
strength    0
dtype: int64

In [6]:
df.dropna(inplace= True)

In [7]:
df.isnull().sum()

password    0
strength    0
dtype: int64

In [28]:
def extract_features(password: str):
    features = {
        'length': len(password),
        'uppercase': sum(1 for char in password if char.isupper()),
        'lowercase': sum(1 for char in password if char.islower()),
        'digits': sum(1 for char in password if char.isdigit()),
        'special_chars': sum(1 for char in password if not char.isalnum())
    }
    return features

In [31]:
features_df = pd.DataFrame([{'password': df['password'].iloc[i], 'strength': df['strength'].iloc[i], **extract_features(df['password'].iloc[i])} for i in range(len(df))])
features_df.head(10)

,password,strength,length,uppercase,lowercase,digits,special_chars
0,kzde5577,1,8,0,4,4,0
1,kino3434,1,8,0,4,4,0
2,visi7k1yr,1,9,0,7,2,0
3,megzy123,1,8,0,5,3,0
4,lamborghin1,1,11,0,10,1,0
5,AVYq1lDE4MgAZfNt,2,16,9,5,2,0
6,u6c8vhow,1,8,0,6,2,0
7,v1118714,1,8,0,1,7,0
8,universe2908,1,12,0,8,4,0
9,as326159,1,8,0,2,6,0

In [8]:
x = np.array(df["password"])#convert to tuple array
y = np.array(df["strength"])

In [9]:
x

array(['kzde5577', 'kino3434', 'visi7k1yr', ..., '184520socram',
       'marken22a', 'fxx4pw4g'], dtype=object)

Using TF-IDF vectorizer to convert String data into numerical data

In [10]:
tdif = TfidfVectorizer()
X = tdif.fit_transform(x)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2 , random_state=42)
X_train.shape

(535711, 672542)

Apply SVM Classifier

In [12]:
svm_classifier = SVC(kernel='rbf', C=1.0, gamma='scale')

In [ ]:
svm_classifier.fit(X_train, y_train)

In [ ]:
y_pred = svm_classifier.predict(X_test)

In [ ]:
# Model Evaluation
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nAccuracy:", accuracy_score(y_test, y_pred))